* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #333366;
    
}

.navbar-brand {
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 3%;
}

.navbar-title .navbar-brand {
    font-size: 25px;
}

li, a {
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1
}

.navbar-brand {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #7dadfa
}

.nav-button {
    background-color: rgba(0, 136, 169, 1);
    text-align: center;
    border-radius: 12px;
    border: 2px solid rgb(4, 104, 129);
    padding: 7px 14px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto
}

.nav-button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.nav-logout-button {
    background-color: rgba(255, 255, 255, 0.164);
    text-align: center;
    border-radius: 12px;
    border: 2px solid rgb(4, 104, 129);
    padding: 7px 14px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: auto
}

.nav-logout-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.buttons {
    margin-left: auto
}





