

  <header>
    <span class="navbar-title">
      <a class="navbar-brand" routerLink="home">Hotel booking app</a>
    </span>
    
      <nav>
        <ul class="nav-links">
          <li *ngIf="userService.authoritiesMatch(['ROLE_ADMIN'])">
            <a routerLink="hotels" routerLinkActive="active" class="nav-link">Hotels</a>
          </li>
          <li *ngIf="userService.authoritiesMatch(['ROLE_ADMIN'])">
            <a routerLink="create-hotel" routerLinkActive="active" class="nav-link">Create hotel</a>
          </li>
        </ul>
      </nav>
    
    <div class="buttons">
      <button *ngIf="isLoggedIn() && userService.authoritiesMatch(['ROLE_GUEST'])" class="nav-button" type="submit" routerLink="reservation-page">Finish your reservations</button>
      <button *ngIf="!isLoggedIn()" class="nav-button" type="submit" routerLink="login" >Login</button>
      <button *ngIf="isLoggedIn()" class="nav-logout-button" type="submit" (click)="logout()" style="margin-left: 10px">Logout</button>
    </div>
  </header>
