<nav class="navbar">
    <div class="brand-title"><a routerLink="home">Hotel booking app</a></div>
    <div class="toggle-button" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <div class="navbar-links" [ngClass]="activeMenu == true ? 'active' : ''">
      <ul>
        <li *ngIf="userService.authoritiesMatch(['ROLE_ADMIN'])">
          <a routerLink="hotels" routerLinkActive="active" class="nav-link">Hotels</a>
        </li>
        <li *ngIf="userService.authoritiesMatch(['ROLE_GUEST'])">
          <a routerLink="guest" routerLinkActive="active" class="nav-link">Profile</a>
        </li>
        <li *ngIf="userService.authoritiesMatch(['ROLE_ADMIN'])">
          <a routerLink="create-hotel" routerLinkActive="active" class="nav-link">Create hotel</a>
        </li>
        <li>
          <a *ngIf="!isLoggedIn()" type="submit" routerLink="login" class="nav-link">Login</a>
        </li>
        <li>
          <a *ngIf="isLoggedIn()" type="submit" (click)="logout()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
