<body>
    <div class="reservation-details">
            <div class="room" *ngFor = "let availability of reservations; index as i">    
                <div class="room-details">
                    <div class="room-text">
                        <p>city: {{ availability.bookingDetails.city }}</p>
                        <p>room size: {{ availability.bookingDetails.roomType }}</p>
                        <p>reservation start: {{ reservationDates[i].reservation_start }}</p>
                        <p>reservation end: {{ reservationDates[i].reservation_end }}</p>
                    </div> 
                    <div class="price-label">
                        <p id="price">price: {{ availability.bookingDetails.price }}</p>
                        <button (click) = "removeFromReservations(availability)" class="button-hotel-details" style="margin-left: 10px">Remove</button>   
                    </div>
                        
                </div>
            </div>
        

        <div class="price">
            <div id="total-price">
                <h2>Total price</h2> 
                <p>{{totalPrice}} $</p>
            </div>
            
            <div>
                <button (click)="addNewReservation()" class="button-reservation">Add new reservation</button>
                <button (click)="saveReservation()" class="button-reservation" style="margin-left: 10px">Proceed reservation</button>
            </div>
        </div>
        
    </div>
    
    
</body>
