
    <h2> Room list </h2>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Description </th>
                <th> Room type </th>
                <th> Quantity </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let roomGroup of rooms">
                <td> {{ roomGroup.description }} </td>
                <td> {{ roomGroup.roomType }} </td>
                <td>
                    <button (click) = "deleteRoom(roomGroup.roomId)" class="btn btn-danger float-right" style="margin-left: 10px"> Delete</button>
             
                    <button (click) = "updateRoom(roomGroup.roomId)" class="btn btn-warning float-right"> Update </button>                     
                    
                </td>
            </tr>
            <button (click) = "createRoom(hotel_id)" class="btn btn-primary"> Create a rooms </button>
        </tbody>
    </table>
    

