
<div class="container">
  <div class="title"><h2>Login</h2></div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="userName">Email address</label>
      <input type="text" formControlName="userName" placeholder="Enter your email address" class="form-control">
      <div *ngIf="userName.invalid && (userName.errors && userName.touched)">
        <small class="text-danger"  *ngIf="userName.errors.required">Email is required field</small>
        <small class="text-danger" *ngIf="userName.errors.pattern">Enter valid value of email address</small>
      </div>
    </div>
    <div class="form-group">
      <label for="userPassword">Password</label>
      <input type="text" formControlName="userPassword" placeholder="Enter your password" class="form-control">
      <div *ngIf="userPassword.invalid && (userPassword.errors && userPassword.touched)">
        <small class="text-danger"  *ngIf="userPassword.errors.required">Password is required field</small>
      </div>
    </div>
    <button  (click)="login" class="login-button">Login</button>
  </form>
  <small class="text-danger">{{msg}}</small>
<div>   
    <br>
     Don't have an account? 
     <br>
     <button (click)="register()" class="register-button">Register</button>
 </div>
</div>
