<div class="col-md-6 offset-md-3">
<h3> Create room </h3>
<form [formGroup]="form" (ngSubmit) = "onSubmit()"> 

    <div class="form-group">
        <label> Quantity of rooms </label>
        <input type="text" class="form-control" formControlName = "quantity_of_rooms">
    </div>
   
    <div class="form-group">
        <label> Description </label>
        <input type="text" class="form-control" formControlName ="description"
             name = "description">
    </div>

    <div class="type-of-room">
        <mat-form-field>
            <mat-label> Room type </mat-label>
            <mat-select class="form-control" formControlName = "roomType">
                <mat-option *ngFor="let type of roomTypeKeys" [value]="roomType[type]" >{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <button class = "btn btn-success" type="submit"> Submit </button>
</form>
</div>
