<div class="col-md-6 offset-md-3">
<h3> Create room </h3>
<form [formGroup]="form" (ngSubmit) = "onSubmit()"> 

    <div *ngFor="let data of descriptionList; let i=index">
        <label>
          <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
          {{data.name}}
        </label>
      </div>

    <div class="type-of-room">
        <mat-form-field>
            <mat-label> Room type </mat-label>
            <mat-select class="form-control" formControlName = "roomType">
                <mat-option *ngFor="let type of roomTypeKeys" [value]="roomType[type]" >{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button class = "btn btn-success" type="submit"> Submit </button>
</form>
</div>
