<h3>View hotel details</h3>

<div>
    <label><b>name: </b></label> {{hotel.name}}
</div>
<div>
    <label><b>street:</b></label> {{hotel.street}}
</div>
<div>
    <label><b>city:</b></label> {{hotel.city}}
</div>
<div>
    <label><b>state:</b></label> {{hotel.state}}
</div>
<div>
    <label><b>country:</b></label> {{hotel.country}}
</div>
<div>
    <label><b>zip code:</b></label> {{hotel.zipcode}}
</div>
<div>
    <label><b>phone number:</b></label> {{hotel.phoneNumber}}
</div>
<div>
    <label><b>email: </b></label> {{hotel.email}}
</div>
<div>
    <label><b>grade: </b></label> {{hotel.grade}}
</div>
