

<body>
        <div class="title"><h2 >Available hotels</h2></div>
        <div class="hotel-list">
            <div class="hotel" *ngFor = "let hotel of availableHotels">
                <div class="image-container">
                    <div class="hotel-image"><img [src]="hotel.image"></div>
                </div>
                
                <div class="hotel-details">
                    <div class="hotel-text">
                        <div class="hotel-name"><h2>{{ hotel.hotel_name }}</h2></div>
                        <p>city: {{ hotel.city }}</p>
                    </div>  
                    <button (click) = "availabilityDetail(hotel.hotel_id)" class="button-hotel-details" style="margin-left: 10px">Check rooms</button>    
                </div>
            </div>
        </div>
   
    
</body>



