<body>
  <div class="title"><h2>Available hotels</h2></div>
  <div class="hotel-list">
            <div class="hotel" *ngFor = "let hotel of availabilityResponse.data.availableHotels">
                <div class="image-container">
                    <div class="hotel-image"><img [src]="hotel.image"></div>
                </div>
                
                <div class="hotel-details">
                    <div class="hotel-text">
                        <div class="hotel-name"><h2>{{ hotel.name }}</h2></div>
                        <p>city: {{ hotel.address.city }}</p>
                    </div>  
                     <button (click) = "availabilityDetail(hotel.hotelId, hotel)" class="button-hotel-details" style="margin-left: 10px">Check rooms</button>    
                </div>
            </div>
        </div>

