
<h2> Hotels list </h2>
<table  class= "table table-striped"> 
    <thead>
        <tr>
            <th> Id </th>
            <th> Image</th>
            <th> Name </th>
            <th> Street </th>
            <th> City </th>
            <th> Country </th>
            <th> Grade </th>
            <th> Details </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let hotel of hotels">
            <td>{{ hotel.hotel_id }}</td>
            <td><img [src]="hotel.image"></td>
            <td>{{ hotel.name }}</td>
            <td>{{ hotel.street }}</td>
            <td>{{ hotel.city }}</td>
            <td>{{ hotel.country }}</td>
            <td>{{ hotel.grade }}</td>
            <td>
                
                <button (click) = "hotelDetails(hotel.hotel_id)" class="btn btn-info float-right" style="margin-left: 10px">Show details</button><br><br><br><br>
                
            </td>
        </tr>
    </tbody>
</table>
