<h2> Available hotels </h2>
<table  class= "table table-striped"> 
    <thead>
        <tr>
            <th> Hotel name </th>
            <th> Image </th>
            <th> City </th>
            <th> Grade </th>
            <th> Room size </th>
            <th> Check rooms</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let availability of availableHotels">
            <td>{{ availability.hotel_name }}</td>
            <td><img [src]="retrievedImages.get(availability.hotel_id)"></td>
            <td>{{ availability.city }}</td>
            <td>{{ availability.grade }}</td>
            <td>{{ availability.roomType }}</td>
            <td>
                <button (click) = "availabilityDetail(availability.hotel_id)" class="btn btn-info" style="margin-left: 10px">Check rooms</button><br><br><br><br> 
             </td>
        </tr> 
    </tbody>
</table> 
